.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  background: transparent !important;
  border: none !important;
  margin-top: 24px;
}

.react-calendar__navigation {
  margin-bottom: 8px;
}

.react-calendar__navigation button {
  width: 12px;
  height: 24px;
  margin-top: 4px;
  opacity: 1;
  color: white;
  background: none;
  font-size: 24px;
  line-height: 1;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__navigation button:enabled:active,
.react-calendar__navigation__label:enabled:hover,
.react-calendar__navigation__label:enabled:focus,
.react-calendar__navigation__label:enabled:active {
  background: none !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.react-calendar__navigation__label {
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

.react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  text-align: center;
  color: white !important;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: 12px;
  padding: 0 16px;
}

.react-calendar__month-view__days {
  padding: 0 16px;
  row-gap: 9px;
}

.react-calendar__tile {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.react-calendar__tile--active {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: none !important;
  color: inherit !important;
  outline: none !important;
}

.react-calendar__tile abbr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #FBFBFB66;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #CDCDD0;
  margin: auto;
}
.has-diary abbr {
  background: #FBFBFBE5 !important; 
  color: #6401BB !important;
}

.react-calendar__tile--now {
  background: none !important;
  color: inherit !important;
}