:root {
  --grayscale-1000: #1c1c1e;
  --grayscale-900: #343437;
  --grayscale-800: #4C4C52;
  --grayscale-700: #65656C;
  --grayscale-600: #7E7E86;
  --grayscale-500: #98989F;
  --grayscale-400: #B2B2B8;
  --grayscale-300: #CDCDD0;
  --grayscale-200: #E7E7E9;
  --error: #BE1B2E;
  --white: #FBFBFB;
  --white-50: #FBFBFB80;
  --main-600: #490189;
  --main-500: #6401bb;
  --main-400: #8001ee;
  --main-10: #f8f0ff;
}

@layer base {
  .text-grayscale-1000 {
    color: var(--grayscale-1000);
  }
  .text-grayscale-900 {
    color: var(--grayscale-900);
  }
  .text-grayscale-800 {
    color: var(--grayscale-800);
  }
  .text-grayscale-700 {
    color: var(--grayscale-700);
  }
  .text-grayscale-600 {
    color: var(--grayscale-600);
  }
  .text-grayscale-500 {
    color: var(--grayscale-500);
  }
  .text-grayscale-400 {
    color: var(--grayscale-400);
  }
  .text-grayscale-300 {
    color: var(--grayscale-300);
  }
  .text-grayscale-200 {
    color: var(--grayscale-200);
  }

  .bg-grayscale-1000 {
    background-color: var(--grayscale-1000);
  }
  .bg-grayscale-900 {
    background-color: var(--grayscale-900);
  }
  .bg-grayscale-800 {
    background-color: var(--grayscale-800);
  }
  .bg-grayscale-700 {
    background-color: var(--grayscale-700);
  }
  .bg-grayscale-600 {
    background-color: var(--grayscale-600);
  }
  .bg-grayscale-500 {
    background-color: var(--grayscale-500);
  }
  .bg-grayscale-400 {
    background-color: var(--grayscale-400);
  }
  .bg-grayscale-300 {
    background-color: var(--grayscale-300);
  }
  .bg-grayscale-200 {
    background-color: var(--grayscale-200);
  }

  .border-grayscale-1000 {
    border-color: var(--grayscale-1000);
  }
  .border-grayscale-900 {
    border-color: var(--grayscale-900);
  }
  .border-grayscale-800 {
    border-color: var(--grayscale-800);
  }
  .border-grayscale-700 {
    border-color: var(--grayscale-700);
  }
  .border-grayscale-600 {
    border-color: var(--grayscale-600);
  }
  .border-grayscale-500 {
    border-color: var(--grayscale-500);
  }
  .border-grayscale-400 {
    border-color: var(--grayscale-400);
  }
  .border-grayscale-300 {
    border-color: var(--grayscale-300);
  }
  .border-grayscale-200 {
    border-color: var(--grayscale-200);
  }

  .border-main-600 {
    border-color: var(--main-600);
  }
  .border-main-500 {
    border-color: var(--main-500);
  }
  .border-main-400 {
    border-color: var(--main-400);
  }
  .border-main-10 {
    border-color: var(--main-10);
  }

  .text-error {
    color: var(--error);
  }
  .bg-error {
    background-color: var(--error);
  }

  .text-white {
    color: var(--white);
  }
  .bg-white {
    background-color: var(--white);
  }
  .bg-white-50 { 
    background-color: var(--white-50); 
  }

  .text-main-600 {
    color: var(--main-600);
  }
  .text-main-500 {
    color: var(--main-500);
  }
  .text-main-400 {
    color: var(--main-400);
  }
  .text-main-10 {
    color: var(--main-10);
  }
  .bg-main-600 {
    background-color: var(--main-600);
  }
  .bg-main-500 {
    background-color: var(--main-500);
  }
  .bg-main-400 {
    background-color: var(--main-400);
  }
  .bg-main-10 {
    background-color: var(--main-10);
  }

  .border-t-main-10 {
    border-top-color: var(--main-10);
  }
}